<div class="mt-sm-5 mt-2 mb-3">
  <div *ngIf="loading">
    <h2>You're search history is loading...</h2>
    <p>You can enter a query at boot time, it will also appear in the history</p>
  </div>
  <div *ngIf="!loading">
    <h2 class="mb-3">Search history - {{itemsLength}} request(s) </h2>

    <div class="list-group" *ngIf="itemsLength">
      <div class="flex-column align-items-start" *ngFor="let item of items | async">
        <div class="d-flex w-100 justify-content-between">
          <small>{{ item.date | date:"dd/MM/yy HH:mm" }}</small>
          <button role='button' class="btn btn-danger" (click)="removeItem(item.key)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        </div>
        <h5 class="mt-1 mb-1">{{ item.text }}</h5>
        <hr>
      </div>
    </div>
    <h4 *ngIf="!itemsLength">Search history is empty</h4>
  </div>
</div>
