<form [formGroup]="rForm" (ngSubmit)="formSubmit($event, rForm.value)" class="mt-2 mt-sm-4">
  <div class="form-group row" [ngClass]="{'has-danger': !rForm.controls['text'].valid && rForm.controls['text'].touched}">
    <label for="text" class="col-sm-3 col-lg-2 col-form-label">I'm looking for</label>
    <div class="col-sm-7 col-lg-8">
      <input [ngClass]="{'form-control-danger': !rForm.controls['text'].valid && rForm.controls['text'].touched}" formControlName="text" class="form-control" id="text" placeholder="Type...">
      <div class="form-control-feedback" *ngIf="!rForm.controls['text'].valid && rForm.controls['text'].touched">Sorry, the length of the text should be from 1 to 100 characters</div>
    </div>
    <div class="col-sm-2 text-md-right text-sm-left mt-2 mt-sm-0">
      <button role='button' [disabled]="!rForm.valid" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    </div>
  </div>
</form>

